# Python
__pycache__/
*.pyc
*.pyo

# Виртуальное окружение
venv/
.env/

# Базы данных
*.db
*.sqlite
*.sqlite3

# Секреты
.env
.secrets

# IDE
.vscode/
.idea/

# Логи и временные файлы
*.log
*.tmp

# Файл для тестирования кода
test.py

