# Python
__pycache__/
*.pyc
*.pyo

# Виртуальное окружение
venv/
.env/

# Базы данных
*.db
*.sqlite
*.sqlite3

# Секреты
.env
.secrets

# IDE
.vscode/
.idea/

# Логи и временные файлы
*.log
*.tmp


test.py          # Файл для тестирования кода
Trenirovki_db    # База данных
.$*              # Бекапы draw.io
.DS_Store        #Стандартный файл MacOS 